@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* body{
    width:100%;
    height: 100vh;
} */

.mainApp{
    background: linear-gradient(to right,#50197a, #2D1E6B);
    width:100%;
    height: 100vh;
}
.gradient-text {
    background: linear-gradient(90deg, #7855fe, #f77dff, #e300bf);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  

  

@media (max-width: 1024px) {
    .navCon{
        display: flex;
        justify-content: space-between;
    }
}